.allRoutesContainer {
    width: 100%;
    height: 100vh;
    background: #ffffff;
    overflow-x: hidden;
    .cityContainer {
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
        display: flex;
        // justify-content: center;
        flex-flow: row nowrap;
        list-style: none;
        .cityItem {
            margin-right: 72px;
            .cityName {
                width: fit-content;
                height: 46px;
                line-height: 46px;
                margin: 32px 0 24px;
                font-size: 32px;
                font-weight: bold;
                color: #999;
            }
            .cityNormal {
                height: 6px;
                border-radius: 6px 6px 0 0;
            }
            .citySelected {
                background: #00cab1;
            }
        }
        .cityItem:first-of-type {
            margin-left: 48px;
        }
    }
    .cityContainer::-webkit-scrollbar {
        width: 0 !important;
    }
    .line {
        width: 100%;
        border-bottom: 1px solid #ccc;
        margin-left: 48px;
    }
    .allRoutesListContainer {
        width: 100%;
        height: calc(100vh - 199px);
        overflow-y: auto;
    }
    .swiper {
        width: 100%;
        height: fit-content;
        position: relative;
    }
    .swiper-slide {
        width: 100%;
        height: calc(100vh - 170px);
        box-sizing: border-box;
    }
    .allRoutesList {
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 0 32px;
    }
    .swicthIcon {
        width: calc(100% - 572px);
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        p {
            width: 56px;
            line-height: 33px;
            font-size: 28px;
            color: #00cab1;
            margin-right: 16px;
        }
        img {
            width: calc(100% - 72px);
            max-width: 58px;
        }
    }
}