.routeListPage {
  width: 100vw;
  height: 100vh;
  padding: 128px 0 88px;
  .head {
    width: 100%;
    height: 112px;
    line-height: 112px;
    text-align: center;
    font-size: 36px;
    color: white;
    background: #66cccc;
    border-radius: 0 0 80px 80px;
    box-shadow: 0 8px 8px 2px rgba(0, 0, 0, 0.25) inset;
    position: fixed;
    top: 0;
  }
  .routeList {
    width: 100%;
    padding: 0 48px;
    height: calc(100vh - 128px);
    overflow: auto;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    .routeListItem {
      width: 100%;
      height: 144px;
      padding-right: 68px;
      border-bottom: 1px solid #c7c7c7;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .routeCover {
        width: 120px;
        height: 120px;
        object-fit: cover;
        margin-right: 36px;
        border-radius: 24px;
      }
      .num {
        margin-right: 24px;
        font-size: 32px;
        color: #525662;
      }
      .text {
        flex: 1;
        font-size: 32px;
        line-height: 44px;
        color: #525662;
      }
      .playIcon {
        width: 44px;
        height: 44px;
        position: absolute;
        top: 38px;
        right: 12px;
      }
    }
    .bottom-icon {
      display: block;
      width: 474px;
      margin: 104px auto 88px;
    }
  }
}
