.orderPageContainer {
  width: 100vw;
  height: 100vh;
  background: #eeeeee;

  .orderMenu {
    .priceContainer {
      height: 96px;
      line-height: 96px;
      position: absolute;
      left: 64px;
      bottom: 8px;
      font-size: 36px;
      color: #999999;
      font-weight: bold;
      .smallIcon {
        font-size: 24px;
        color: #00cab1;
      }
      .smallIcon {
        font-size: 24px;
        color: #00cab1;
      }
      .price {
        font-size: 36px;
        color: #00cab1;
      }
    }
    .orderButton {
      position: absolute;
      right: 48px;
      bottom: 8px;
    }
  }
  .stepIcon {
    display: block;
    margin: 0 auto;
    width: 90%;
  }
}
