.detailInfoPage {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s;
  .playContinue {
    width: 164px;
    position: fixed;
    top: 668px;
    right: 0;
  }
  .swiper {
    width: 100%;
    height: 374px;
    position: relative;
  }
  .swiper-slide {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    .swiperContent {
      display: block;
      width: 100%;
      height: 374px;
      object-fit: cover;
    }
  }
  .swiper-pagination {
    bottom: 6px;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff8f3;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    width: 32px;
    border-radius: 9px;
    background: #e2b330;
    transition: all 0.2s ease-in;
  }
  .detailInfoContent {
    width: 100%;
    .detailInfoMenu {
      width: 100%;
      padding: 0 48px;
      height: 80px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .menuItem {
        width: fit-content;
        height: 80px;
        line-height: 80px;
        font-size: 36px;
        margin-right: 48px;
        color: #525662;
        font-weight: bold;
        .line {
          width: 100%;
          height: 6px;
          border-radius: 6px 6px 0 0;
          background: #00cab1;
          position: absolute;
          bottom: 0;
        }
      }
      .menuItemSelected {
        color: #00cab1;
      }
    }
    .detailInfoBottomContainer {
      width: 100%;
      overflow-y: auto;
      .routeDetailContent {
        padding: 0 48px;
      }
    }
    .routeInfoContainer {
      width: 100%;
      padding: 48px 48px 36px;
      .routeInfoItem {
        display: flex;
        height: 44px;
        margin-bottom: 16px;
        .locationIcon {
          width: 34px;
          margin-right: 32px;
        }
        .timeIcon {
          width: 38px;
          margin-right: 32px;
        }
        .priceIcon {
          width: 34px;
          margin-right: 32px;
        }
        .tagIcon {
          width: 35px;
          margin-right: 32px;
        }
        p {
          height: 44px;
          line-height: 44px;
          font-size: 28px;
          color: #525662;
        }
        .tagList {
          display: flex;
          .tag {
            margin-right: 16px;
          }
        }
      }
    }
    .routeCatalogList {
      width: 666px;
      background: #fff9f3;
      border-radius: 64px;
      // box-shadow: 0px 16px 16px 2px rgba(0, 0, 0, 0.25);
      padding: 24px 48px 96px;
      margin: 56px auto 32px;
      overflow: hidden;
      p {
        width: 100%;
        height: 82px;
        text-align: center;
        line-height: 82px;
        font-size: 36px;
        color: #525662;
        text-decoration: underline;
      }
      .catalogItemContainer {
        width: 100%;
        border-bottom: 1px solid #ccc;
        padding: 8px 0 16px;
      }
      .catalogItem {
        width: 100%;
        height: 68px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        color: #525662;
        font-size: 32px;
        .num {
          margin-right: 24px;
        }
        .numAudition {
          color: #00cab1;
        }
        .textAudition {
          color: #00cab1;
        }
        .playIcon {
          width: 44px;
          height: 44px;
          position: absolute;
          right: 12px;
          top: 12px;
        }
      }
      .audioProgress {
        width: 100%;
        height: 40px;
        margin-top: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 28px;
        color: #999;
        .currrent {
          margin-right: 16px;
        }
        .duration {
          margin-left: 16px;
        }
        .progressContainer {
          flex: 1;
          height: 8px;
          background: #e5e5e5;
          border-radius: 4px;
          .progressBar {
            height: 100%;
            background: #e2b330;
            border-radius: 4px 0 0 4px;
          }
          .progressDot {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: #e2b330;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            transform: translateX(-50%);
          }
        }
      }
      .bottomSum {
        width: 666px;
        height: 92px;
        text-align: center;
        background: #66cccc;
        line-height: 92px;
        font-size: 28px;
        color: white;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}

.detailPageMenuBottom {
  width: 100%;
  height: calc(120px + constant(safe-area-inset-bottom));
  height: calc(120px + env(safe-area-inset-bottom));
  position: fixed;
  bottom: 0;
  z-index: 999;
  border-radius: 90px 0 0;
  background: #eeeeee;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25) inset;
  border: 4px solid #ffffff;
  .emptyMenuBottom {
    width: 100%;
    height: constant(safe-area-inset-bottom);
    height: env(safe-area-inset-bottom);
    background: #eeeeee;
  }
}
.detailPageMenu {
  width: 100%;
  height: 120px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 78px;
  .menuContainer1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .homeIcon {
      width: 42px;
      margin-top: 16px;
    }
    .shareIcon {
      width: 50px;
      margin-top: 20px;
    }
    .heartIcon {
      width: 48px;
      margin-top: 18px;
    }
    .menuText {
      height: 40px;
      font-size: 28px;
      line-height: 40px;
      color: #525662;
      margin-top: 4px;
    }
  }
  .menuContainerMargin {
    margin-left: 44px;
  }
  .buyContainer {
    height: 96px;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    bottom: 5px;
    // margin-top: 16px;
    // margin-bottom: 10px;
    .buyItem {
      width: 194px;
      background: white;
      border-radius: 120px 0 0 120px;
      border: 1px solid #00cab1;
      padding-left: 50px;
      p {
        // width: 100%;
        // text-align: center;
        font-size: 32px;
        line-height: 46px;
        height: 46px;
        color: #00cab1;
      }
      .topText {
        height: 40px;
        font-size: 28px;
        line-height: 32px;
        margin-top: 6px;
      }
    }
    .buyItem:nth-of-type(2) {
      border-radius: 0;
      width: 166px;
      background: #66cccc;
      padding-left: 24px;
      p {
        color: white;
      }
    }
  }
  .freeBtn {
    width: 354px;
    height: 90px;
    box-shadow: 0px 0px 16px 2px rgba(0, 202, 177, 0.5);
    border-radius: 330px;
    position: absolute;
    right: 8px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .largeText {
      width: 100%;
      font-size: 32px;
      text-align: center;
      color: white;
      line-height: 38px;
    }
    .smallText {
      width: 100%;
      font-size: 28px;
      text-align: center;
      color: white;
      line-height: 32px;
    }
  }
}
.detailContent {
  width: 100%;
}
.shareImg {
  width: 632px;
  display: block;
  margin: 0 auto;
}
