.wrap {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  .red {
    color: red;
  }
  .bold {
    font-weight: bold;
  }
  .menuItem {
    height: 120px;
    flex: 1;
    font-size: 28px;
    font-weight: 400;
    color: #525662;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .menuIcon {
      display: block;
      padding: 0;
      margin: 0;
      width: 54px;
      height: auto;
    }
    p {
      width: 100%;
      text-align: center;
      line-height: 33px;
      margin-top: 8px;
    }
  }
  .menuItemSelected {
    color: #00cab1;
    font-weight: 500;
  }
  .content {
    width: 100%;
    height: calc(100vh - 120px);
  }
}
